@font-face {
    font-family: myFirstFont;
    src: url('../../../public/Merriweather-Bold.ttf');
}

.footermain {
    width: 100%;
    font-weight: 500;
    height: 200px;
    font-size: 18px;
    padding-left: 5px;
    background-color: rgba(194, 197, 155, 0.69);
    display: flex;
    text-align: center;
    color: white;

}

.footermain h3 {
    margin-bottom: 5px;
    color: black;
    font-size: 21px;
}

.footermain div {
    padding: 25px;
    margin-left: 120px;
}

.footermain div:nth-of-type(3) a {
    font-weight: 500;
    padding: 5px;
    text-decoration: none;
    display: block;
    color: white;

}

.footermain div:nth-of-type(3) {
    margin-left: 200px;
}

.footermain div:nth-last-of-type(2) img {
    padding: 8px;
    height: 50px;
}

.footermain div:nth-of-type(1) p {
    padding: 5px
}

.footermain div:nth-of-type(1) p:nth-of-type(1) {
    font-weight: bold;
    color: black;
}

/* Media Query for making it responsive */
@media (min-width:568px) and (max-width:1349px) {
    .footermain {
        height: 250px;
        justify-content: space-evenly;
    }

    .footermain div {
        margin-left: 0px;
    }

    .footermain div:nth-of-type(3) {
        margin-left: 0px;
    }
}
@media (min-width:1360px){
    .footermain {
        height: 250px;
        justify-content: space-evenly;
    }

    .footermain div {
        margin-left: 0px;
    }

    .footermain div:nth-of-type(3) {
        margin-left: 0px;
    }
}