@{
    ViewData["Title"] = "Home Page";
}

    


<div style="display: flex; margin-top: 140px;"  class="text-center">
    <div ><h1 class="display-4">Task Management System</h1>
    <br />
    <h3>By</h3>
       <br />
    <h3  style="color: blue;">Zainab Asif 2280134</h3>
    <h3 style="color: blue;">Adeeba Salman 2280102</h3></div>
    <div><img src="https://th.bing.com/th/id/OIP.q-UYas1mQiHYihqhO5W7CwAAAA?rs=1&pid=ImgDetMain" alt="Loading...." /></div>
    <br/>
 <button style=" position: absolute;
  top: 500px;
  right: 900px;"class="nav-item button">
  <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="Index">Tasks</a>
</button>
    <button style=" position: absolute;
  top: 500px;
  right: 400px;" class="nav-item button">
        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">Logout</a>

    </button>
    </div>
